.literature-layout {
  .game-window {
    width: 100vw;
    overflow: auto;
  }

  .paper-wrap {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    transition: all 1s ease;

    img {
      width: 100%;
    }

    &.is-finished {
      transform: scale(0.7);
      left: 400px;
    }
  }

  .poem {
    position: absolute;
    top: 0;
    margin: 140px 40px;
    letter-spacing: -1px;
    font-family: "Marck Script";
    font-size: 36px;
    white-space: pre;
    
    .is-hidden {
      visibility: hidden;
    }

    > span:not(.is-hidden) {
      animation: poemLetter 1s ease both;
    }
  }

  .letters {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .info {
      display: inline-block;
      width: 40px;
      transition: all 0.3s ease;

      &.is-empty {
        color: #a5a5a5;
      }
      &.is-pressed .letter {
        transform: scale(1.2);
        color: red;
      }
    }

    .letter {
      display: block;
      font-family: "Marck Script";
      margin-bottom: 10px;
      font-size: 30px;
      transition: all 0.3s ease;
    }

    .count {
      display: block;
      font-size: 26px;
    }
  }

  mark {
    background: transparent;
    color: #42cd3a;
  }

  .phrase {
    position: absolute;
    top: 250px;
    font-family: "Marck Script";
    font-size: 40px;
    z-index: -1;
    animation: literaturePhrase 1s ease 0.5s both;

    &::after,
    &::before {
      content: '';
      display: block;
      height: 2px;
      background: #42cd3a;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      animation: line 0.5s ease 1.5s both;
    }

    &::after {
      bottom: -40px;
    }

    &::before {
      top: -40px;
    }
  }

  @keyframes poemLetter {
    0% {
      opacity: 0;
      transform: scale(0);
      text-shadow: 0 0 8px;
    }
    100% {
      opacity: 1;
      transform: scale(1);
      text-shadow: 0 0 0;
    }
  }

  @keyframes literaturePhrase {
    0% {
      left: 300px;
      opacity: 0;
    }
    100% {
      left: 750px;
      opacity: 1;
    }
  }

  @keyframes line {
    0% {
      width: 0;
    }
    100% {
      width: 80px;
    }
  }
}
