.physics-layout {
  .balls-container {
    transition: all 2.5s ease-in-out 0.5s;
  }

  &.is-finish {
    .balls-container {
      transform: scale(5);
    }
  }

  .game-window {
    overflow: visible;
  }

  .ball {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
  }

  .phrase {
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -144px;
    margin-left: -128px;
    font-family: Comfortaa;
    text-transform: uppercase;
    color: #656565;
    animation: phrase 2.5s ease 0.5s both;

    mark {
      background: transparent;
      color: #ffe827;
    }

    div:nth-child(1) {
      font-size: 27px;
      animation: phrase 2.5s ease 0.5s both;
    }
    div:nth-child(2) {
      animation: phrase 1s ease 2s both;
    }
    div:nth-child(3) {
      font-size: 49px;
      animation: phrase 1s ease 2.5s both;
    }
    div:nth-child(4) {
      font-size: 66px;
      animation: phrase 1s ease 3s both;
    }
    div:nth-child(5) {
      font-size: 51px;
      animation: phrase 1s ease 3.5s both;
    }
  }
}

@keyframes phrase {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}