body {
  font-family: 'PT Sans Narrow';
}

.layout {
  position: relative;
  text-align: center;

  .header {
    height: 60px;
    line-height: 60px;
  }

  .to-subjects {
    float: right;
    padding: 0;
    margin-right: 10%;
    line-height: 60px;
    font-family: inherit;
    background: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease;
    outline: none;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 40px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .hint {
    float: left;
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 20px;
  }

  .game-window {
    position: relative;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
  }
}