.geography-container {
  position: relative;
  text-align: center;

  .mountains {
    position: relative;
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    background: linear-gradient(#08b1da, #88eefa);

    g {
      cursor: pointer;
      transition: all 0.5s ease;

      &.is-hidden {
        opacity: 0;
        transform: translateY(100px);
      }
    }
  }

  .snow {
    fill: white;
  }

  .phrase {
    position: absolute;
    top: 40%;
    left: 47%;
    margin-left: -158px;
    padding: 0 60px;
    font-size: 60px;
    color: white;
    font-family: Oswald;
    animation: fade-in 1s ease forwards;

    mark {
      color: #3183ad;
      font-weight: 100;
      background: transparent;
    }

    @media (max-width: 600px) {
      font-size: 50px;
    }
  }

  .sun {
    position: absolute;
    top: 100px;
    right: 170px;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 40px 15px white;
    animation: shine 2s ease infinite both;
  }

  .header {
    height: 60px;
    line-height: 60px;
  }

  .to-subjects {
    float: right;
    padding: 0;
    margin-right: 10%;
    line-height: 60px;
    font-family: inherit;
    background: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease;
    outline: none;

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 40px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .hint {
    float: left;
    margin-left: 10%;
    text-transform: uppercase;
    font-size: 20px;
  }

  @keyframes shine {
    0% {
      box-shadow: 0 0 40px 15px white;
    }

    50% {
      box-shadow: 0 0 40px 20px white;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(0);
    }
    70% {
      opacity: 0.7;
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: translateY(-100px);
    }
  }
}
