.letter {
  font-size: 50px;
  text-transform: uppercase;

  &[data-subject="geography"] {
    top: 9.5%;
    left: 40.4%;
  }

  &[data-subject="informatics"] {
    top: 13%;
    left: 63.2%;
  }

  &[data-subject="math"] {
    top: 25%;
    right: 13.3%;
  }

  &[data-subject="com"] {
    top: 43.2%;
    right: 8.3%;
  }

  &[data-subject="physics"] {
    top: 61.9%;
    right: 12.5%;
  }

  &[data-subject="literature"] {
    top: 74.3%;
    right: 30.5%;
  }

  &[data-subject="ru"] {
    top: 76.7%;
    right: 52.6%;
  }

  &[data-subject="english"] {
    top: 69%;
    left: 18.3%;
  }

  &[data-subject="biology"] {
    top: 52.3%;
    left: 7.2%;
  }

  &[data-subject="chemistry"] {
    top: 34%;
    left: 7.2%;
  }

  &[data-subject="history"] {
    top: 18.2%;
    left: 18.8%;
  }
}

@media (max-width: 1250px) {
  .letter {
    font-size: 38px;
  }
}

@media (max-width: 900px) {
  .letters {
    opacity: 0;
    cursor: default;
  }
}